@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to top, #D2E2FB 30% , #86A8DB);

    font-family: 'Poppins', sans-serif;
}

.wrapper {
    height: 50px;
    width: 400px;
    position: relative;
    
}

#text1 {
    height: calc(50px - 4px);
    width: calc(400px - 4px);
    border: 1px solid black;
    outline: 1px solid black;
    outline-offset: 2px;
    border-radius: 5px;
    font-size: 17px;
    transition: all 0.3s;
}

#text1:focus::placeholder {
    opacity: 0;
    transition: 0.3s;
}

#text1::placeholder {
    padding-left: 2px;
}

#text1::first-letter {
    padding-left: 20px;
}

#text1Label {
    background-color: transparent;
    position: absolute;
    top: 13px;
    left: 0;
    margin-left: 2px;
    color: grey;
    transition: transform 0.3s;
    z-index: -1;
    font-size: 17px;
}